
.container {
       overflow: hidden;
}
.filt {
    background-color: rgba(117, 89, 179, 0.05);
}

.filtmain {
    font-size: 25px;
    font-weight: 700;
    color: #5E17EB;
}
.filtmain1 {
    font-size: 22px;
    font-weight: 400;
    color: #5E17EB;
}
.bi {
    color: #5E17EB;
    font-size: 20px;
}

.tin { 
    background-color: rgba(162, 121, 248, 0.05);
}
.tag1 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.tag {
    margin-right: 40px;
}
.fitimg {
    width: 100%;
}
.mainimgi {
    width: 30px;
}


@media only screen and (max-width: 900px) {
    .fil {
           display: block;
    }
    .Main {
        display: none;
    }
  }